.bee {
  display: inline-block;
  position: relative;
  margin: 1em;
  width: 120px;
  height: 110px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  border: solid 1px transparent;

  &[data-type="queen"] {
    background-image: url("../../img/bee-queen.png");
  }

  &[data-type="worker"],
  &[data-type="scout"] {
    background-image: url("../../img/bee.png");
  }

  &.targeted {
    border-color: red;
  }

  span {
    text-transform: capitalize;
  }
}
